version: "3"

services:
  mariadb:
    image: mariadb:12.1.2-noble
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - ./data:/var/lib/mysql
    networks:
      - db

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.2.3-apache
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8090:80"
    depends_on:
      - mariadb
    networks:
      - db

networks:
  db:
    driver: bridge
